
 h3{
            background-color: cadetblue;
            color: brown;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }
body{
    background-color: blueviolet;
    color: aquamarine;
    width: 100%;
    height: 100%;
}
div{
    background-color: blanchedalmond;
    width: 50%;
    height: 50%;
}